<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154560936932-77trdnl4vbkuhu1u1usc9mvhojuq1csq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154560936932-77trdnl4vbkuhu1u1usc9mvhojuq1csq</string>
	<key>API_KEY</key>
	<string>AIzaSyBWA37k2XUBZPDtzexCxNikKeSODzYSsaE</string>
	<key>GCM_SENDER_ID</key>
	<string>154560936932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1103.ToDoListPractice</string>
	<key>PROJECT_ID</key>
	<string>todolistpractice-f6f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistpractice-f6f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154560936932:ios:bb8e61e6c8eef8bc7ce5f1</string>
</dict>
</plist>